@mixin btn{
  border-radius: 30px;
  padding: 15px;
  font-size: 1em;
  &:hover{
    color: $violet;
  }
 }

 @mixin title-h1{
  color: $white;
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: .55em;
  letter-spacing: -0.035em;
  font-family: $ubuntu;
 }