
/* Fonts */
$outfit: 'Outfit', sans-serif;
$dm_sans: 'DM Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;


/* Colors */
$black: #1d1d1d;
$white: #fff;
$gray: #e7e6e7;
$dark_violet: #370D60;
$violet: #4B1676;
$crimson: #DE1C3D;
$dark_crimson: #8C174C;
$maroon: #C01F67;
$dark-gray: rgba(36,37,45,.6);